
.App {
  text-align: center;
}

#spinner {
  animation: App-logo-spin infinite 20s linear;
}

.loginDialog{
  padding: 1em;
  font-weight: bold;
}



.App-header {
  background-color: #222;
  height: 15em;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-sspin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.headerPic{
  height: 5em;
}

ul {
  list-style-type: none;
  padding: 0;
  padding-top: 0.5em;
  margin:0;
}

li {

}

input{
  border: solid black 1px;
  font-size: 1em;
  margin: 0.5px;
}
button{
  color: #222222;
  background-color: white;
  border: solid 1px;
  font-size: 1em;
  font-weight: bold;
  margin: 0.5em;
}

button:hover{
  cursor: pointer;
  background-color: #222222;
  color: white;
}

.eloTable{
  border: solid 1px black;
}

.pelihalukas{
  color: green;
}

.pelivalmis_button{
  color: green;
  background-color: white;
}
.pelivalmis_button:hover{
  color: white;
  background-color: green;
}
.message{
  text-align: left;
  border: solid black;
  padding: 0;
}
.messageContent{
  border: solid grey 1px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  padding: 5px;
}
.messageSender{
  border-bottom: grey dotted 1px;
  background-color: black;
  color: #990073;
  font-size: 1em;
}

.messageForm{
  margin-top: 1em;
}